[Desktop Entry]
Name=RGB Config (acer-gkbbl-0)
Comment=Control RGB settings of the acer-gkbbl-0 character device
Exec=rgb_config_acer_gkbbl_0
Icon=/usr/lib/rgb_config_acer_gkbbl_0/assets/icon.png
Terminal=false
Type=Application
Categories=Settings;Utility;
Keywords=RGB;Acer;
